name: notes_app
description: "A new Flutter project."

publish_to: 'none' 


environment:
  sdk: ^3.8.1


dependencies:
  flutter:
    sdk: flutter

 
  cupertino_icons: ^1.0.8
  font_awesome_flutter: ^10.9.1
  hive: ^2.2.3
  hive_flutter: ^1.1.0

 

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  build_runner: ^2.5.4
  hive_generator: ^2.0.1


flutter:


  uses-material-design: true

  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg


 
  fonts:
    - family: Poppins
      fonts:
        - asset: assets/fonts/Poppins-Regular.ttf
          
    
  

